.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
  a {
    margin: 15px;
    color: grey;
    font-weight: lighter;
  }
}

.footer-links a:hover {
  font-weight: bolder;
  color: darkgrey;
}
.footer-copyright {
  align-items: center;
  color: grey;
}

.fa-heart {
  color: #D23333;
}
