#home {
  background-color: #C4BBB8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  p {
    margin-top: 1.5em;
  }
  a {
    color: #39375B;
    font-weight: bold;
    font-size: 16px;
  }
}
